@value colors: "../styles/base/_colors.css";
@value primary, secondary, third from colors;

/*
  MAIN PAGE Styles
*/

.btnPersonagens{
  color: secondary;
  font-size: 4rem;
  text-decoration: none;
  background-color: third;
  border: 5px solid secondary;
  padding: 10px 20px;
  margin-bottom: 50px;

  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.btnPersonagens:hover{
  color: third;
  background-color: secondary;
}

/*
  PERSONAGENS PAGE and PERSONAGENS COMPONENT Styles
*/

.breadcrumbsPersonagens{
  font-size: 2rem;
  position: fixed;
  top: 165px;
  left: 165px;
  margin: 20px;
  padding: 5px 10px;
}

.btnHomePage{
  position: fixed;
  top: 165px;
  left: 0px;
  margin: 20px;
  padding: 5px 10px;
  border: 3px solid secondary;
  background-color: third;
  color: secondary;
  font-size: 1.5rem;
  text-decoration: none;

  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.btnHomePage:hover{
  color: third;
  background-color: secondary;
}

.containerHeroes{
  display: flex;
  width: 80%;
  justify-content: space-around;
}

.btnHeroes{
  text-align: center;
  text-decoration: none;
  font-size: 3rem;
  color: third;
  background-color: primary;
  border: 5px solid primary;
  padding: 20px;

  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.btnHeroes:hover{
  color: primary;
  background-color: third;
  border: 5px solid primary;
}

/*
  PERSONAGEM PAGE and PERSONAGEM COMPONENT Styles
*/

.breadcrumbsOne{
  font-size: 2rem;
  position: fixed;
  top: 165px;
  left: 130px;
  margin: 20px;
  padding: 5px 10px;
}

.breadcrumbsTwo{
  font-size: 2rem;
  position: fixed;
  top: 165px;
  left: 295px;
  margin: 20px;
  padding: 5px 10px;
}

.breadcrumbsHero{
  font-size: 2rem;
  position: fixed;
  top: 165px;
  left: 330px;
  margin: 20px;
  padding: 5px 10px;
}

.btnVoltar{
  position: fixed;
  top: 165px;
  left: 170px;
  margin: 20px;
  padding: 5px 10px;
  border: 3px solid secondary;
  background-color: third;
  color: secondary;
  font-size: 1.5rem;
  text-decoration: none;

  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.btnVoltar:hover{
  color: third;
  background-color: secondary;
}

.containerHero{
  width: 40vw;
  height: 50vh;
  border: 3px solid secondary;
  background-color: rgba(255, 255, 255, 0.445);
  text-align: center;
}

.nameHero{
  font-size: 3.5rem;
  margin-top: 50px;
  margin-bottom: 10px;
}

.descriptionHero{
  font-size: 2rem;
  margin-bottom: 50px;
}

.containerBtns{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto 30px auto;
  padding: 0 50px;
}

.heroesBtns{
  font-size: 1.5rem;
  color: secondary;
  border: 2px solid secondary;
  background-color: third;
  padding: 10px 20px;
  outline: none;

  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.heroesBtns:hover{
  color: third;
  background-color: secondary;
}

.isSelected{
  color: white;
  background-color: black;
}

.detailsList{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

.detailsList li{
  font-size: 1.5rem;
}

/*
  NOT FOUND PAGE Styles
*/

.erro{
  font-size: 6rem;
}


@media (max-width: 700px){

  .btnPersonagens{
    font-size: 2rem;
    border: 3px solid secondary;
    padding: 10px 20px;
    margin-bottom: 50px;
  }
  
  .btnHomePage{
    position: fixed;
    top: 90px;
    left: -15px;
    border: 2px solid secondary;
    padding: 2px 4px;
    font-size: 1rem;
  }

  .breadcrumbsPersonagens{
    font-size: 1rem;
    position: fixed;
    top: 90px;
    left: 88px;
  }
  
  
  .containerHeroes{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 45vh;
    align-content: space-around;
  }
  
  .btnHeroes{
    width: 50%;
    text-align: center;
    font-size: 1.5rem;
    padding: 1px;
    margin: 0 auto;
  }
  
  /*
    PERSONAGEM PAGE and PERSONAGEM COMPONENT Styles
  */
  
  .breadcrumbsOne{
    font-size: 1rem;
    position: fixed;
    top: 90px;
    left: 65px;
    margin: 20px;
    padding: 5px 10px;
  }
  
  .breadcrumbsTwo{
    font-size: 1rem;
    position: fixed;
    top: 90px;
    left: 165px;
    margin: 20px;
    padding: 5px 10px;
  }
  
  .breadcrumbsHero{
    font-size: 1rem;
    position: fixed;
    top: 90px;
    left: 180px;
  }
  
  .btnVoltar{
    position: fixed;
    top: 90px;
    left: 90px;
    font-size: 1rem;
    border: 2px solid secondary;
    padding: 2px 4px;
  }
  
  .containerHero{
    width: 75vw;
    height: 50vh;
    border: 3px solid secondary;
    background-color: rgba(255, 255, 255, 0.445);
    text-align: center;
  }
  
  .nameHero{
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .descriptionHero{
    font-size: 1rem;
    margin-bottom: 20px;
  }
  
  .containerBtns{
    width: 70vw;
    display: flex;
    justify-content: center;
  }
  
  .heroesBtns{
    display: block;
    font-size: 1rem;
    border: 1px solid secondary;
    padding: 2px 2px;
    margin: 5px;
  }
  
  .detailsList{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
  }
  
  .detailsList li{
    font-size: 1.5rem;
  }
  
  /*
    NOT FOUND PAGE Styles
  */
  
  .erro{
    font-size: 6rem;
  }


}