@value colors: "../styles/base/_colors.css";
@value primary, secondary, third from colors;

.header{
  width: 100vw;
  background-color: primary;
  color: third;
  text-align: center;
  font-size: 8rem;
}

.main{
  display: flex;
  width: 100vw;
  height: 80vh;
  background-image: url('../assets/bg.jpg');
  background-position: center;
  justify-content: center;
  align-items: center;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: primary;
  color: third;
  text-align: center;
  font-size: 1.7rem;
}